body {
    margin: 0;
    background-color: #6c33c0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}
p {
    margin: 5%;
}
h1 {
    margin: 3%;
}
/*          NAVIGATION BAR              */
nav {
    height: 150px;
    font-size: 50px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}
header h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
}
.butn, a {
    font-family: 'Geneva', Sans-serif;
    border-radius: 20px 0;
    padding: 12px 20px;
    border: 2px solid black;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}
#button-accueil {
    background: rgb(255, 255, 255);
    color: black;
}
#button-soundcloud {
    background: #F95500;
}
#button-duolingo {
    background: #83DF46;
}
#button-tgtg {
    background: #45ADA1;
}
.butn:hover, a:hover {
    color: white;
    font-size: 25px;
    background-position: center;
    background-size: cover;
    scale: 1.2;
}
#button-accueil:hover {
    background: rgb(177, 134, 173);
    color: black;
    text-shadow: 1px 2px rgb(55, 59, 65);
}
#button-soundcloud:hover {
    font-size: 25px;
    background-image: url(images/soundcloud-logo.png);
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 1px #000000;
}

#button-duolingo:hover {
    font-family: 'Varela Round', sans-serif;
    text-shadow: 2px 2px 1px #000000;
    background-image: url(images/duo-happy.svg);
    background-position: center;
    background-size: cover;
    font-size: 25px;
    text-shadow: 1px 2px #35680f;
}
#button-tgtg:hover {
    color: white;
    font-size: 25px;
    background: none;
    text-shadow: 2px 2px 1px #000000;
    background-image: url(images/TGTG-logo.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pro img{
    float: left;
    width: 45%;
}